mixin team()
  +b.SECTION.team
    +e.inner
      +e.H2.heading
        | Для вас будет работать целая команда професиионалов
      +e.subheading
        | Все этапы детально продуманы и протестированы за годы работы. <br>Даже ребенек поймет, что у вас на сайте
      +e.mebmers
        +e.row
          +e.member
            +e.image
              img(src="images/team1.jpg")
            +e.info
              +e.name Болотская Валерия
              +e.prof Дизайнер
              +e.exp Опыт 5 лет
        +e.row
          +e.member
            +e.image
              img(src="images/team2.jpg")
            +e.info
              +e.name Перваков Андрей
              +e.prof Маркетолог
              +e.exp Опыт 5 лет
        +e.row
          +e.member
            +e.image
              img(src="images/team3.jpg")
            +e.info
              +e.name Кулак Анатолий
              +e.prof Верстальщик, подаван
              +e.exp Опыт 2 года
        +e.row
          +e.member
            +e.image
              img(src="images/team4.jpg")
            +e.info
              +e.name Прозоров Андрей
              +e.prof Программист, сенсей
              +e.exp Опыт 10 лет