mixin triggers()
  +b.SECTION.triggers
    +e.inner
      +e.H2.heading
        | Хороший сайт поможет вашему бизнесу
      +e.list
        +e.item
          +e.image
            img(src="images/trigger1.png")
          +e.title
            | Увеличить поток заявок
          +e.text
            | Получайте от 4 до 50 заявок ежедневно4
        +e.item
          +e.image
            img(src="images/trigger2.png")
          +e.title
            | Повысить доверие к бренду
          +e.text
            | Ваш сайт - лицо компании и он должен быть качественным
        +e.item
          +e.image
            img(src="images/trigger3.png")
          +e.title
            | Оптимизировать расходы
          +e.text
            | Стоимость заявки от 46 руб до 3800 руб, в зависимости от тематики