include template/header
include template/footer
include ../blocks/**/*
- var alias = "m"
doctype
html(lang='ru')
  +doc-header
  body.pageload.no-js
    +main-header
    +top-screen
    +portfolio
    +clients
    +triggers
    +team
    +steps
    +partnership
    +main-footer
    +fixed-nav
    +doc-footer
