mixin main-footer()
  +b.FOOTER.main-footer
    +e.inner
        +e.logo
            img(src="", alt="")
        +e.contacts
            +e.tel
                | +7 (923) 882-32-83
            +e.text
                | Есть вопросы? Звони!
