.main-header {
  @include container;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
  padding-bottom: 15px;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  
  font-family: $opsans;
}

.main-header__logo {
  width: 150px;
  height: 75px;
  background-color: #eee;
}

.main-header__tel {
  padding: 12px 19px;
  margin-bottom: 15px;
  border-radius: 13%/50%;
  border: 1px solid #3eb5f1;
  
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 300;
}

.main-header__text {
  padding: 0 12px;
  
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 300;
}

@media (max-width: 767px) {
  .main-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .main-header__logo {
    width: 98px;
    height: 44px;
  }
  
  .main-header__tel {
    padding: 9px 12px;
    
    font-size: 14px;
  }
  
  .main-header__text {
    padding: 0 8px;
    
    font-size: 13px;
  }
}
