mixin main-header()
  +b.HEADER.main-header
    +e.logo
      img(src="images/logo.svg", alt="goDigit")
    +e.contacts
      +e.tel
        | +7 (923) 882-32-83
      +e.text
        | Есть вопросы? Звони!
