mixin steps()
  +b.SECTION.steps
    +e.inner
      +e.H2.heading
        | 4 шага детального проработанного сайта
      +e.step
        +e.mark
          +e.mark-number 1
          +e.SPAN.mark-title Интернет-<br>маркетинг
        +e.info
          +e.title Точное определение целевой аудитории
          +e.P.text
            | Соcтавляем интеллект-карту персонажа
          +e.title Ценность продукта
          +e.P.text
            | Составляем интеллект-карту продукта
          +e.title Анализ конкурентов
          +e.P.text
            | Смотрим 10 самых сильных конкурентов по ключевым запросам. Составляем excel файл. Выписываем слабые и сильные стороны. Комбинируем сильные предложения
          +e.title Анализ конкурентов
          +e.title Составляем УТП (уникальное торговое предложение)
          +e.P.text
            | Формируем уникальное торговое предложение на основе полного анализа
          +e.title Продумываем копирайтинг
      +e.step
        +e.mark
          +e.mark-number 2
          +e.SPAN.mark-title Дизайн и прототипирование
        +e.info
          +e.title Проектирование 
          +e.P.text
            | Навигация по сайту:<br> Устройство меню и способ перемещения между разделами<br>- Структура сайта<br>- Реакции интерфейсана действия пользователя<br>- Компоновка элементов, разделение по зонам<br>- Адаптивные прототипы
          +e.title Дизайн 
          +e.P.text
            | - Графическая концепция<br>- Адаптация фирменного стиля под веб среду<br>- Макеты всех страниц<br>- Иконки, иллюстрации, инфографика
      +e.step      
        +e.mark
          +e.mark-number 3
          +e.SPAN.mark-title Верстка
        +e.info
          +e.title Изучение макета, визуальное и логическое разделение на блоки
          +e.title Сохранение в нужном качестве и разрешении всех карнинок из макета
          +e.title Подготовка верстки
          +e.P.text
            | В старотовом шаблоне создаем нужную нам структуру проекта (например, каждому блоку – своя папка)
          +e.title Верстка сайта
          +e.title Проверяем итоговую разметку в валидаторе w3c
          +e.title Запуск билда с минификацией
          +e.title Внесение правок
      +e.step      
        +e.mark
          +e.mark-number 4
          +e.SPAN.mark-title Программирование
        +e.info
          +e.title Из HTML разметки берется часть кода, которая в последствии станет управляемым для посетителей сайта 
          +e.title Из оставшегося HTML подготавливаеться шаблон для системы управления контентом (joomla, wordpress, shop scrypt) или для  фреймворка (yii2)
          +e.title Создание виджетов и расширений для выбранной системы управления
          +e.title В случае необходимости проектируется и разрабатывается БД и создаються необходимые компоненты/модули
