@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;

  src: url("../fonts/Robotothin.woff2") format("woff2"),
       url("../fonts/Robotothin.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;

  src: url("../fonts/Robotolight.woff2") format("woff2"),
       url("../fonts/Robotolight.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/Roboto.woff2") format("woff2"),
       url("../fonts/Roboto.woff") format("woff");
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/Robotomedium.woff2") format("woff2"),
       url("../fonts/Robotomedium.woff") format("woff");
}

