//joomla pagination
.pagination-centered{
  width: 100%;
}

div.pagination  {padding:8px;margin:24px 0 4px 0;text-align:center;}
div.pagination  ul {text-align:center;}
div.pagination  ul li {display:inline-block;margin:0;padding:0;}
div.pagination  ul li a {display:inline-block;padding:4px 8px;margin:0 8px;border:1px solid #ddd;border-radius:4px;vertical-align:middle;background:#fff;text-decoration:none;}
div.pagination  ul li a:hover {background:#fafafa;cursor:pointer;}
div.pagination  ul li.active a {background:#fafafa;}
div.pagination  ul li a span {vertical-align:middle;}

.icon-next:after{  
  font-family: "FontAwesome";
  content: "\f105";
  font-size: 20px;
}

.icon-previous:after{  
  font-family: "FontAwesome";
  content: "\f104";
  font-size: 20px;
}

.icon-first:after{  
  font-family: "FontAwesome";
  content: "\f100";
  font-size: 20px;
}

.icon-last:after{  
  font-family: "FontAwesome";
  content: "\f101";
  font-size: 20px;
}

//-joomla pagination