mixin fixed-nav()
    +b.fixed-nav(aria-hidden='true')
        +e.UL.list
            +e.LI.item
                +e.A.link(href="#section-1", data-number="1")
                    +e.SPAN.dot
            +e.LI.item
                +e.A.link(href="#section-2", data-number="2")
                    +e.SPAN.dot
            +e.LI.item
                +e.A.link(href="#section-3", data-number="3")
                    +e.SPAN.dot
            +e.LI.item
                +e.A.link(href="#section-4", data-number="4")
                    +e.SPAN.dot
            +e.LI.item
                +e.A.link(href="#section-5", data-number="5")
                    +e.SPAN.dot
            +e.LI.item
                +e.A.link(href="#section-6", data-number="6")
                    +e.SPAN.dot
            +e.LI.item
                +e.A.link(href="#section-7", data-number="7")
                    +e.SPAN.dot
