- var portfolio = [{title: "Стильный интернет-магазин", href: "http://angel-discount.ru/"},{title: "Магазин итальянских дверей", href: "http://respect-ltd.com/"},{title: "Личная страница профессиональной модели", href: "http://www.marinapamo.com/"},{title: "Регистралкин – вся суть в названии", href: "https://docentovich.github.io/registralkin/"},{title: "Оптовые поставки рыбы. Рекомендуем", href: "http://fishersday.ru/"},{title: "(не) самый богатый депутат ЗакСа", href: "http://rassudovzaks.shablonkin.shn-host.ru/"},{title: "Разработка потрясающего приложения с нуля", href: "https://projects.invisionapp.com/share/V7C6FWP2W#/screens"},{title: "Собственное прочтение популярного сайта", href: "https://cooltolia.github.io/disney/"}]

mixin portfolio()
    +b.SECTION.portfolio#section-2
        +e.inner
            +e.H2.heading
                | 5 лет мы помогаем клиентам выделиться из тысяч однотипных сайтов
            +e.UL.list
                for item in portfolio
                    +e.LI.item
                        +e.A.link(href="#{item.href}", title="#{item.title}")
            +e.BUTTON.btn
                | Показать все проекты
