mixin top-screen()
  +b.SECTION.top-screen
    +e.inner
      +e.H1.main-heading
        | Новые клиенты для Вашего бизнеса
      +e.H2.secondary-heading
        | С помощью продающего сайта и контекстной рекламы
      +e.A.button(href="#")
        | Получите бесплатный макет сайта