mixin partnership()
    +b.SECTION.partnership#section-7
        +e.inner
            +e.H2.heading
                | Как проходит сотрудничество
            +e.UL.list
                +e.LI.item
                    +e.number 1
                    +e.text 
                        | Вы оставляете заявку
                    +e.divider
                +e.LI.item
                    +e.number 2
                    +e.text 
                        | Мы связываемся с Вами в течение 10 минут. Определяем основные задачи, задаем вопросы и учитываем все пожелания.
                    +e.divider
                +e.LI.item
                    +e.number 3
                    +e.text 
                        | Делаем бесплатный макет Вашего сайта. Если есть контекстная реклма – делаем бесплатный аудит. Если нет – делаем бесплатную тестовую кампанию на 100 ключевых слов.
                    +e.divider
                +e.LI.item
                    +e.number 4
                    +e.text 
                        | Вы оцениваете работу. Если результат устраивает – продолжаем сотрудничать. Если хотите увеличить продуктивность или внести изменения – делаем коррективы и дорабатываем до идеала. Вы ничем ни рискуете!
                    +e.divider
                +e.LI.item
                    +e.number 5
                    +e.text 
                        |  Получить бесплатный макет + аудит
                    +e.divider
            +e.BUTTON.btn Оставить заявку
