.partnership {
    background-color: #6345a4;
    background-image: url('../images/partership-bg.jpg');
    background-position: center center;
    background-size: cover;

    font-family: $opsans;
}

.partnership__inner {
    @include container(40px);

    padding-top: 80px;
    padding-bottom: 70px;
}

.partnership__heading {
    @include heading();

    margin-bottom: 90px;

    color: #fff;
}

.partnership__list {
    position: relative;
    padding: 0;
    margin-bottom: 65px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    list-style: none;

    &::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 100%;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);

        background-image: url('../images/p-divider.png');
        background-size: 100% 75%;
        background-repeat: no-repeat;
    }
}

.partnership__item {
    position: relative;
    width: 30%;
    margin-right: 40%;
    margin-bottom: 100px;

    text-align: center;

    &:nth-child(1) {
        .partnership__text {
            text-align: center;
        }
    }

    &:nth-child(2) {
        margin-top: 85px;
    }

    &:nth-child(3) {
        margin-top: -135px;
    }

    &:nth-child(5) {
        margin: -30px auto 0;

        .partnership__text {
            text-align: center;
        }
    }

    &:nth-child(2n) {
        margin-right: 0;
    }
}

.partnership__number {
    display: inline-block;
    padding: 0 22px;
    margin-bottom: 15px;

    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;

    border: 9px solid #fff;
    border-radius: 50%;
}

.partnership__text {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.partnership__btn {
    @include btn();
    margin: 0 auto;

    width: 265px;
    padding: 12px 20px;
    text-transform: uppercase;
}

@media (max-width: 1100px) {
    .partnership__list {
        &::after {
            background-image: none;
            display: none;
        }
    }


    .partnership__divider {
        position: absolute;
        width: 333.33%;
        height: 100%;
        top: 0;
        left: 0;

        &::before {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            left: 50%;
            top: 45%;
            transform: translateX(-50%);

            border-radius: 50%;

            background-color: #fff;
        }

        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);

            background-color: #fff;
        }
    }

    .partnership__item:nth-child(even) .partnership__divider {
        left: auto;
        right: 0;

        &::before {
            left: auto;
            right: 50%;
            transform: translateX(50%);
        }

        &::after {
            left: auto;
            right: 50%;
            transform: translateX(50%);
        }
    }

    .partnership__item:nth-last-child(2) .partnership__divider {
        &::after {
            height: 50%;
        }
    }

    .partnership__item:last-child .partnership__divider {
        left: -117%;
        right: auto;

        &::before {
            top: -75px;
        }

        &::after {
            display: none;
        }
    }
}


@media (max-width: 767px) {
    .partnership__inner {
        padding: 60px 40px 40px;
    }

    .partnership__item {
        height: auto;
        margin-bottom: 80px;

        &:nth-child(2) {
            margin-top: 55px;
        }
    }

    .partnership__number {
        font-size: 50px;
        line-height: 1.45;

        border-width: 5px;
    }

    .partnership__text {
        font-size: 16px;
    }

    .partnership__divider {
        &::before {
            width: 12px;
            height: 12px;
        }

        &::after {
            width: 4px;
        }
    }

    .partnership__item:last-child .partnership__divider {
        &::before {
            top: -55px;
        }
    }

}

@media (max-width: 480px) {
    .partnership__inner {
        padding: 35px 20px 30px;
    }

    .partnership__heading {
        margin-bottom: 30px;
    }

    .partnership__item {
        margin-bottom: 45px;

        &:nth-child(3) {
            margin-top: -95px;
        }
    }

    .partnership__number {
        font-size: 27px;
        line-height: 2.2;
        border-width: 2px;
    }

    .partnership__text {
        font-size: 10px;
        line-height: 1.2;
    }

    .partnership__item:last-child .partnership__divider {
        &::before {
            top: -15px;
        }
    }
}
